body{
    margin:0;   
}

.container{
    display:flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box-shadow{
    box-shadow: 4px 3px 8px 1px #dadada;
}

.form-container{
    width: 850px;
    border-radius: 10px;
    margin: 175px 0;
    display: flex;
    flex-direction: column;
    height: 80%;
    background: #fff;   
}

.form-container .content{
    display: flex;
}

.form-container h2{
    letter-spacing: 1.5px;
    font-weight: bolder;
    font-size: 30px;
}
.info{
    background: #3786bd;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 40px;
    color: #fff;
    word-break: break-word;
}
.form{
    padding: 20px 40px;
}
.form h2{
    color:#3786bd;
}
.form-group{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.form-group label{
    font-weight: 600;
}
.form .button{
    background: #3786bd;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 130px;
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px;
}


.alert-success{
    background: linear-gradient(to bottom right, #B0DB93 40%, #99DBB4 100%);
    border-radius: 5px;
    padding: 10px;
}
.alert-danger{
    background: linear-gradient(to bottom right, #EF8D8B 40%, #ffc39e 100%);
    border-radius: 5px;
    padding: 10px;
}
